@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 135px;
}
.nike-logo img {
    width: 225px;
    height: 31px;
}
.menu-ber {
    display: none;
}
.nav-links {
    list-style: none;
    display: inline;
    margin-right: 37px;
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
    padding: 10px 20px;
}
.nav-links:hover a {
    background-color: azure;
    transition: 0.5s;
}
/* Navbar style end */

/* Bannar style */
.nike-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 135px;
}
.half-width {
    flex: 1;
}
.nike-banner-img img {
    width: 407px;
    height: 407px;
}
.banner-title {
    font-size: 80px;
    letter-spacing: 5px;
    margin: 0;
    font-family: "Bebas Neue", cursive;
}
.banner-title span {
    color: #fa804c;
}
.banner-para {
    font-size: 16px;
    width: 360px;
    color: #3e3e3e;
}
#buy-button {
    text-decoration: none;
    background-color: #3d4ff3;
    padding: 15px 25px;
    color: white;
    border-radius: 25px;
}
.fa-shopping-cart {
    padding-right: 7px;
    font-size: 15px;
}
/* banner styles end */

/* casual shoe styling */

.casual-shoes {
    padding: 150px 135px;
}
.shoes-details {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
}
.shoe-type {
    text-transform: uppercase;
    font-size: 40px;
    color: #363958;
}
.shoe {
    flex: 1;
    margin: 5px;
    border-radius: 10px 10px;
}
.shoe img {
    width: 311px;
    height: 311px;
    border-radius: 25px;
    box-shadow: 20px 20px 40px darkgrey;
}

.shoe-name {
    font-size: 24px;
    color: #363958;
}
.shoe-para {
    font-size: 16px;
    color: #3e3e3e;
    width: 299px;
    height: 52px;
    margin: 5px;
}
.shoe-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    margin: 0 0;
}
.shoe-pricing .price {
    font-size: 36px;
    color: #fa804c;
    font-weight: bold;
}
#price-button {
    text-decoration: none;
    background-color: #3d4ff3;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
}

/* Formal shoe */

.formal-shoes {
    padding: 0 135px;
}

/* company policy sytle */

.company-policy {
    display: flex;
    padding: 150px 135px;
}
.rule {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.rule img {
    width: 78px;
    height: 82px;
}
.rule h4 {
    font-size: 24px;
    color: #363958;
}
.rule p {
    width: 276px;
    height: 52px;
    color: #3e3e3e;
}
.delivery-photo img {
    width: 600px;
    height: 355px;
}
/* Delivery section style end */

/* mdeia quries for mobile devices */

@media only screen and (max-width: 688px) {
    /* Navbar mobile device */
    .navbar {
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px;
    }
    .nike-logo img {
        width: 192px;
        height: 26px;
    }

    .nav-items a {
        text-decoration: none;
    }
    .menu-ber {
        display: block;
        font-size: 30px;
    }
    .nav-links {
        display: none;
    }
    /* navbar for mobile device complete */

    /* Nike banner for Mobile devices */

    .nike-banner {
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        padding: 0 35px;
    }
    .nike-banner-img img {
        width: 315px;
        height: 290px;
    }
    .banner-title {
        font-size: 60px;
        margin-bottom: 0;
    }
    .banner-para {
        font-size: 16px;
        margin-bottom: 25px;
    }
    #buy-button {
        text-decoration: none;
        background-color: #3d4ff3;
        padding: 10px 15px;
        color: white;
        border-radius: 25px;
    }
    .half-width {
        flex: 1;
    }

    /* Banner part end */

    /* Causual shoe style for mobile devices */

    .casual-shoes {
        padding: 70px 35px;
        
    }
    .shoe-type {
        font-size: 36px;
        text-align: center;
    }
    .shoes-details {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    /* casual shoes style end */

    .formal-shoes {
        padding: 0 35px;
        
    }
    .nike-shoes {
        flex: 1;
    }

    /* Company policy styles */

    .company-policy {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 120px;
    }
    .delivery-photo img {
        width: 292px;
        height: 173px;
    }
    .policy-rules {
        padding-top: 48px;
    }
    .rule {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .rule img {
        width: 78px;
        height: 82px;
    }
    .rule h4, .para{
        text-align: center;
    }

    /* Resonsive for mobile device end */


}
